.App {
  text-align: center;
  background-color: #282c34;
  height: calc(100vh - 64px);
  width: calc(100vw - 64px);
  color: white;
  padding: 32px;
}

.Header {

}


.SensorLabel {
  font-weight: 600;
}

.SensorValue {
  text-align: right;
  font-weight: 300;
}
